<!DOCTYPE html>
<html>
  <head>
    <title>Flatiron Example App</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1" />
    <link rel="stylesheet" href="/stylesheets/app.css" />
  </head>
  <body>
    <div id="wrap">
      <div id="header">
        <h2> <a href="/">Flatiron Example</a> </h2>
      <div>

      <div id="content">

        <h4> Create Gist </h4>

        <form method="POST" action="/">
          <label>Name</label>
          <input type="text" name="name" size="70" />
          <br />
          <label>Description</label>
          <input type="text" name="description" size="70" />
          <br />
          <h4>Gist</h4>
          <textarea name="gist" cols=60 rows=20></textarea>
          <p>
            <input id="send_button" type="submit" value="Submit" />
          </p>
        </form>
      </div>
      <div id="footer">
        Created with <a href="flatironjs.org">FlatironJS</a>
      </div>
    </div>
  </body>
</html>
