<!DOCTYPE html>
<html>
  <head>
    <title>Flatiron Example App</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1" />
    <link rel="stylesheet" href="/stylesheets/app.css" />
    <link rel="stylesheet" href="/stylesheets/codemirror.css">
    <script src="/javascripts/codemirror.js"></script>
    <script src="/javascripts/mode/javascript/javascript.js"></script>
    <script src="/javascripts/mode/scheme/scheme.js"></script>
    <style type="text/css">
      .CodeMirror {border: 1px solid #ccc;margin:5px;}
    </style>
  </head>
  <body>
    <div id="wrap">
      <div id="header">
        <h2> <a href="/">Flatiron Example</a> </h2>
      <div>

      <div id="content">

        <h4> New Gist </h4>

        <form method="POST" action="/">
          <label>File name</label>
          <br />
          <input type="text" name="name" />
          <br />
          <label>Description</label>
          <br />
          <input type="text" name="description" size="80"  />
          <br />
          <label>Gist</label>
          <br />
          <textarea id="code" name="code"></textarea>
          <p>
            <input id="send_button" type="submit" value="Submit" />
          </p>
        </form>
      </div>
      <div id="clear"></div>
      <div id="footer">
        Created with <a href="flatironjs.org">FlatironJS</a>
      </div>
    </div>
    <script>
      var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        mode: "scheme",
        lineNumbers: true,
        matchBrackets: true,
        tabMode: "indent",
        onChange: function() {
          clearTimeout(pending);
          setTimeout(update, 400);
        }
      });
      var pending;
      function looksLikeScheme(code) {
        return !/^\s*\(\s*function\b/.test(code) && /^\s*[;\(]/.test(code);
      }
      function update() {
        editor.setOption("mode", looksLikeScheme(editor.getValue()) ? "scheme" : "javascript");
      }
  </script>
  </body>
</html>
