<!DOCTYPE html>
<html>
  <head>
    <title>Flatiron Example App</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1" />
    <link rel="stylesheet" href="/stylesheets/app.css" />
  </head>
  <body>
    <div id="wrap">
      <div id="header">
        <h2> <a href="/">Flatiron Example</a></h2>
      <div>

      <div id="content">
        <h4> A simple app to create and display gists </h4>
        <div id="show"></div>
        Nothing to see here yet.
      </div>
      <div id="footer">
        Created with <a href="flatironjs.org">FlatironJS</a>
      </div>
    </div>
  </body>
</html>
